﻿<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/MembershipType"> &nbsp; &nbsp  Membership</a></li>
        <li><a href="/Genre">&nbsp; &nbsp; Genre</a></li>
        <li class="divider"></li>
        <li><a href="/Book">&nbsp; &nbsp;Book</a></li>
        <li><a href="/Customer">&nbsp; &nbsp;Customer</a></li>
        <li class="divider"></li>
    </ul>
</li>

