﻿@model BookRental.Models.Genre
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    //da server zna s kim ima posla, da zna da je request legit
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h3>Create new Genre</h3>
        <hr/>
        <div class="form-group">
            @*razor sintaksa a unutar @class je bootstrap za kolone, koji dijeli stranicu u dvije koloone, i prema toj podjeli stranice na dvije kolone
                bootstrap zna da podijeli Label na dva dijela*@
            @Html.LabelFor(m=>m.Name,htmlAttributes: new {@class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(m=>m.Name,new { htmlAttributes= new {@class="form-control" } })
                @Html.ValidationMessageFor(m=>m.Name,"",new { @class="text-danger"})
                @*text danger ovo je isto bootstrap  koji osigurava da se pojavi tekst u crvenome; ne proslijeđujemo ništa, to j eonaj prazan string jer želimo
                    defaultnu error poruku*@
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-sm btn-success" />
       @Html.Partial("_BackToListButtonPartial")
    </div>
}

