﻿@model IEnumerable<BookRental.Models.Genre>
@using BookRental.Models
@{
    ViewBag.Title = "Index";
}

<h2>Genre</h2>
@Html.Partial("_CreateButtonPartial")
<br />
<br />
<table class="table table-condensed table-hover">
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.Name)
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.Partial("_IndividualButtonPartial",
               new IndividualButtonPartial{
                   Action = "Edit",
                   ButtonType = "btn-primary",
                   Glyph = "pencil",
                   Text = "Edit button",
                   GenreId = item.GenreId

                })
            </td>
        </tr>
    }

</table>

